rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // =====================
    // REVIEWS
    // =====================
    match /reviews/{reviewId} {

      // Lire uniquement les avis validés
      allow read: if resource.data.approved == true;

      // Création publique contrôlée
      allow create: if
        request.resource.data.approved == false &&
        request.resource.data.name is string &&
        request.resource.data.name.size() >= 2 &&
        request.resource.data.message is string &&
        request.resource.data.message.size() >= 10 &&
        request.resource.data.message.size() <= 700 &&
        request.resource.data.rating is number &&
        request.resource.data.rating >= 1 &&
        request.resource.data.rating <= 5;

      // Seul le champ approved peut être modifié
      allow update: if
        request.resource.data.diff(resource.data).changedKeys().hasOnly(["approved"]);

      allow delete: if false;
    }

    // =====================
    // USERS (dashboard)
    // =====================
    match /users/{userId} {

      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // =====================
    // MESSAGES
    // =====================
    match /messages/{docId} {

      allow read, write: if false;
    }

  }
}